<div class="wrapper">

  <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard; let i = index">
      <div class="grid-item">
        <button mat-icon-button (click)="removeItem(item)">
          <mat-icon aria-label="remove" svgIcon="close"></mat-icon>
        </button>
        <button mat-icon-button (click)="itemSettings(item)">
          <mat-icon aria-label="settings" svgIcon="settings"></mat-icon>
        </button>
        <br>
        <span>{{ item?.widgetType }} for {{ item?.widgetLocation }}</span>
      </div>
      <div *ngIf="item.component">
        <ng-container *ngComponentOutlet="item.component"> </ng-container>
      </div>
    </gridster-item>
  </gridster>

  <app-add-widget (addItem)="onAddItem($event)"></app-add-widget>
  <button mat-raised-button color="accent" (click)="loadGrid()">load</button>
  <button mat-raised-button color="warn" (click)="saveGrid()">save</button>

</div>