body {
  padding: 40px;
}
.wrapper {
  width: 70vw;
  height: 40vw;
  padding: 15px;

  gridster {
    background: #ffffff;

    gridster-item {
      padding: 15px;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 1px 3px 1px rgba(60, 64, 67, 0.149);

      .remove-button {
        cursor: pointer;
      }
    }
  }

  button {
    margin: 5px;
  }
}
