<div class="wrapper">

  <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard; let i = index">
      <div class="widget-header">
        <app-widget-options [widgetItem]="item" (updateWidget)="updateItem(item, $event)" (removeWidget)="removeItem(item)"></app-widget-options>
      </div>
      <div *ngIf="item.component">
        <ng-container *ngComponentOutlet="item.component"> </ng-container>
      </div>
    </gridster-item>
  </gridster>

  <app-add-widget (addItem)="onAddItem($event)"></app-add-widget>
  <button mat-raised-button color="accent" (click)="loadGrid()">load</button>
  <button mat-raised-button color="warn" (click)="saveGrid()">save</button>

</div>
