/* You can add global styles to this file, and also import other style files */

@import 'app/styles/global';

@import 'app/styles/custom-material-theme';

// GLOBAL

.mat-dialog-container {
	background: white;
  font-size: .9em;
}
.spacer {
  flex: 1 1 auto;
}
